{{#> admin}}
{{#*inline "content"}}
<div class="card">
    <div class="card-header">
        Welcome to the Admin Panel
    </div>
    <div class="card-body">
        Use the sidebar to navigate between options
    </div>
</div>
{{/inline}}
{{/admin}}