{{#> app}}
{{#*inline "content"}}
    <div class="container">
        <div class="col-md-6 col-lg-4 mb-2 img">
            <img src="/images/one.jpg">
        </div>
        <div class="col-md-6 col-lg-4 mb-2 img">
            <img src="/images/two.jpg">
        </div>
        <div class="col-md-6 col-lg-4 mb-2 img">
            <img src="/images/three.jpg">
        </div>
         <div class="col-md-6 col-lg-4 mb-2 img">
            <img src="/images/four.jpg">
        </div>
    </div>
{{/inline}}
{{/app}}