.bg-primary {
    background-color: #375a89 !important;
}

.bg-secondary {
    background-color: #a31450 !important;
}

.navbar-dark {
    background-color: #2c3e50;
}

.cta {
    color: #a31450 !important;
}

.row {
    justify-content: center;
}

.copyright {
    background-color: #1a252f;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
}

.text-small {
    font-size: 0.7em;
}

.img {
    height: 300px;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

.img-card {
    height: 200px;
    object-fit: cover;
}

.img-card img, .img img {
    width: 80%;
}